@font-face {
    font-family: 'sansSemiBlack';
    src: url('../fonts/sansSemiCondensed/EncodeSansSemiCondensed-Black.ttf') format('opentype')
}

@font-face {
    font-family: 'sfPro';
    src: url('../fonts/sfPro/SFPRODISPLAYREGULAR.OTF') format('opentype')
}

@font-face {
    font-family: 'apercu';
    src: url('../fonts/ApercuFontFamily/ApercuProRegular.otf') format('opentype')
}

@-ms-viewport{
    width: device-width;
  }

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #f2eee8;
    overflow: hidden;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}



.main_text_style_1 {
    font-family: sansSemiBlack;
    font-size: 8em;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px #0B0B0B !important;
    transition: all 300ms;
}

.main_text_style_1:hover {
    color: #1b1b1b !important;
}

.middle_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.main_text_style_2 {
    font-family: sfPro;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
    font-size: 2em;
}

.main_text_style_3 {
    font-family: sfPro;
    width: 100%;
    text-align: end;
}

.logo {
    font-family: sansSemiBlack;
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 30px;
    color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}

.text_only_border {
    color: transparent !important;
    -webkit-text-stroke: 1px #0B0B0B !important;
}

.buttons_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 2;
}

.fill_style_bt{
    background-color: #1b1b1b;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 40px;
    border-radius: 4px;
    transition: all 300ms;
    cursor: pointer;
}
.fill_style_bt a{
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.stork_style_bt{
    margin-left: 20px;
    border: 1px solid #1b1b1b;
    color: #1b1b1b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 40px;
    border-radius: 4px;
    transition: all 300ms;
    cursor: pointer;
}

.stork_style_bt a{
    color: #1b1b1b;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.fill_style_bt:hover{
    width: 195px;
    
}
.stork_style_bt:hover{
    width: 195px;
  
}

.navBar{
    position: absolute;
    top: 20px;
    right: 30px;
    color: #ffffff;
    z-index: 2;
}

.navBar .fill_style_bt{
    width: 230px;
    font-size: 14px;
    font-family: apercu;
}

.navBar .fill_style_bt:hover{
    background-color: #0b0b0bdc;
}

a{
    text-decoration: none;
}

.center_img{

    position: absolute;
    top: 30%;
    z-index: 1;
    max-width: 500px;
    transition: all 1s;
    left: 34%;
    width: 66%;
}

.blackSc{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    width: 0;
    background-color: #0B0B0B;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logoPrimary{
    color: #ffffff;
}

.text_only_border_primary {
    -webkit-text-stroke: 1px #ffffff !important;
}

.fill_style_bt_primary{
    background-color: #fff;
    color: #1b1b1b;
}

.fill_style_bt_primary a{
    color: #1b1b1b;
}

.stork_style_bt_primary{
    border: 1px solid #fff;
}

.stork_style_bt_primary a{
    color: #fff;
}

.navBar .fill_style_bt_primary:hover {
    background-color: rgb(211, 211, 211);
}

.main_text_style_1_primary{
    -webkit-text-stroke: 1px #fff!important;
}

.main_text_style_1_primary:hover{
    color: #fff !important;
}

.main_text_style_2_primary{
    color: #fff;
}

.hideAll{
    width: 100%;
    position: absolute;
    background-color: #0B0B0B;
    z-index: 200;
    left: 0;
    top: 0;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .main_text_style_1{
        font-size: 6em;
    }
    .main_text_style_2{
        font-size: 1em;
    }

  }

  @media only screen and (max-width: 720px) {
    .main_text_style_1{
        font-size: 4em;
    }
    .main_text_style_2{
        font-size: 1em;
    }

  }

  @media only screen and (max-width: 450px) {
    .main_text_style_1{
        font-size: 2.5em;
    }
    .main_text_style_2{
        font-size: 0.8em;
    }

    .main_text_style_3{
        font-size: 0.8em;
    }

    .navBar {
        position: absolute;
        right: 15px;
        color: #ffffff;
        top: 1px;
    }

    .logo{
        left: 15px;
        top: -10px;
    }

    .buttons_content{
        flex-direction: column;
    }

    .stork_style_bt{
        margin-left: 0;
        margin-top: 20px;
        width: 230px;
    }

    .fill_style_bt{
        margin-top: 20px;
        width: 230px;
    }

    .navBar .fill_style_bt {
        width: 180px;
        font-size: 11px;
    }

  }