@font-face {
  font-family: 'sansSemiBlack';
  src: url('../../fonts/sansSemiCondensed/EncodeSansSemiCondensed-Black.ttf') format('opentype')
}

@font-face {
  font-family: 'sfPro';
  src: url('../../fonts/sfPro/SFPRODISPLAYREGULAR.OTF') format('opentype')
}

@font-face {
  font-family: 'apercu';
  src: url('../../fonts/ApercuFontFamily/ApercuProRegular.otf') format('opentype')
}

body {
  font-family: 'sfPro';
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
/* background-color: #edf5e1; */
background-image: radial-gradient(#ffffff, #edf5e1);
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
span {
  font-family: 'apercu';
}

.img{
  width: 300px;
  /* animation: rotateAnimation 1s linear infinite; */
}

@keyframes rotateAnimation{
  from {transform: rotateY(0deg);}
  to {transform: rotateY(30deg);}
}



  model-viewer {
   width: 100%;
   height: 100%;
   --poster-color: #000;
   --progress-bar-color: rgba(249, 0, 108, 0.942);
   --progress-bar-height: 10px;
   --progress-bar-width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   pointer-events: none;
  }

  
  [data-color]::before {
    content: "";
    display: block;
    position: absolute;
    inset: -5px;
    border: 2px solid transparent;
    border-radius: 999px;
  }
  
  [data-color].active::before,
  [data-color]:focus::before {  
    border-color: white;
  }

  .posBt{
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 2%;
    bottom: 2%;
    max-width: 250px;
    width: 50%;
    height: 30%;
    max-height: 190px;
    border-radius: 16px;
    background-color: #0000001f;
    border: 1px solid #fff;
    font-size: 22px;
  }

  .posBt:hover{
    background-color: #00000031;
  }

  .loadingPage{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #2d2d2d;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .loadingPage span{
    color: #ffffff;
    margin-top: 20px;
  }

  .loader {
    display: flex;
    align-items: center;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }
  
  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }


  .pos-relative{
    position: relative;
  }

